body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  outline: 8px solid rgb(249, 99, 44);
  width: 960px;
  height: 960px;
  /* 16 * square_width */
}

button {
  margin-bottom: 10px;
}

.grid-square {
  /* outline: 2px solid red; */
  background-color: white;
  flex: initial;
}
